@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);




#header4-26 H1 {
  font-size: 32px;
  font-family: 'Oxygen', sans-serif;
}
#header4-26 P {
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-7 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#ext_menu-7 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}


#header4-0 H1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 48px;
  color: #ffffff;
}
#header4-0 .btn {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}




#buttons1-15 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header3-16 H3 {
  text-align: center;
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#content1-17 H5 {
  color: #000000;
  font-family: 'Oxygen', sans-serif;
}
#content1-17 P {
  font-family: 'Oxygen', sans-serif;
  text-align: left;
  color: #000000;
}








#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-7 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#ext_menu-7 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#header3-20 H3 {
  font-family: 'Oxygen', sans-serif;
  color: #c1c1c1;
  text-align: center;
}
#header3-20 P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#header3-19 H3 {
  font-family: 'Oxygen', sans-serif;
  color: #cccccc;
  text-align: center;
}
#header3-19 P {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}
#header3-15 P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#header3-15 H3 {
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  font-size: 14px;
  color: #c1c1c1;
}





#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-7 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#ext_menu-7 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
#header3-14 H3 {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#header3-14 P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}
#content1-17 P {
  text-align: center;
  font-family: 'Oxygen', sans-serif;
}





#content5-1 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}
#content5-1 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1 .mbr-article {
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}
#content5-1 .btn {
  font-family: 'Oxygen', sans-serif;
}
#content5-1 .mbr-article P {
  text-align: center;
}
#content5-1 .mbr-article DIV {
  text-align: center;
  font-size: 15px;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-7 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
}
#ext_menu-7 .mbr-navbar__items a {
  font-family: 'Oxygen', sans-serif;
}
